version: '3'
services:
    # Starts the curator to hash random numbers
    source-hasher:
        image: "source-hasher"
        build:
            context: "./source_hasher"
            dockerfile: Dockerfile
        volumes:
            # for development
            - ./source_hasher/:/usr/src/app
        environment:
            ZMQ_BROADCAST_PORT: 5050
            USE_HSM: 0
        # ports:
        #     - "5050:5050"
        command: ["python3", "."]
        # command: ["sh"]
        # entrypoint: /bin/sh
        # stdin_open: true
        # tty: true
        # restart: "always"
    beacon-storage:
        image: "beacon-storage"
        build:
            context: "./beacon_storage"
            dockerfile: Dockerfile
        volumes:
            # for development
            - ./beacon_storage/:/usr/src/app
        environment:
            ZMQ_LISTEN_PORT: 5050
        # ports:
        #     - "5050:5050"
        tty: true
        command: ["python3", "."]
