version: '3'
services:
    base:
        image: "base"
        build: "./beacon_shared"

    yubihsm:
        image: "yubihsm"
        build:
            context: "./beacon"
            dockerfile: "./Dockerfile.yubihsm"
        privileged: true
        devices:
            - "/dev:/dev"

    # Starts the curator to hash random numbers
    beacon:
        image: "beacon"
        build:
            context: "./beacon"
            dockerfile: "../Dockerfile"
        volumes:
            # for development
            - ./beacon/:/app
            - ./beacon_shared:/beacon_shared
        environment:
            ZMQ_BROADCAST_PORT: 5050
            USE_HSM: 0
        # ports:
        #     - "5050:5050"
        command: ["python3", "/app"]
        depends_on:
            - "yubihsm"
            - "beacon-storage"
        # command: ["sh"]
        # entrypoint: /bin/sh
        # stdin_open: true
        # tty: true
        # restart: "always"

    # beacon-storage:
    #     image: "beacon-storage"
    #     build:
    #         context: "./beacon_storage"
    #         dockerfile: "../Dockerfile"
    #     volumes:
    #         # for development
    #         - ./beacon_storage/:/app
    #         - ./beacon_shared:/beacon_shared
    #         - ./db:/db
    #     environment:
    #         ZMQ_LISTEN_PORT: 5050
    #         BEACON_DB_PATH: /db/beacon.db
    #     # ports:
    #     #     - "5050:5050"
    #     tty: true
    #     command: ["python3", "/app"]

    beacon-api:
        image: "beacon-api"
        build: "./beacon_api"
        depends_on:
            - "beacon-storage"
        volumes:
            # for development
            - ./beacon_api/:/app
            - ./beacon_shared:/beacon_shared
            - ./db:/db:ro
        environment:
            BEACON_DB_PATH: /db/beacon.db
        ports:
            - "8080:80"
        tty: true
        command: ["gunicorn", "--reload", "-c", "/app/gunicorn.conf.py", "main:api"]
